* {
    background-color: black;
}

.main {
    color: white;
    margin-left: 25%;
    width: 50%;
    text-align: center;
}


h1 {
    text-transform: uppercase;
}

img {
    border: 5px solid white;
    width: 100%;
}
