/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.inner-box p {
  color: white;
  background-color: red;
  padding: 20px;
  
}

#outer-box {
  border: 10px solid purple;
  padding: 10px;
  margin: 20px;
}


